@import url(./Montserrat-main/Montserrat.css);

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat";
}

body {
  background: #e0f0ff;
}

a {
  color: black;
}

/* Header */

.container_header {
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__title {
  font-size: 25px;
  font-weight: 500;
  margin-left: 5px;
  color: #000;
}

.link {
  font-size: 25px;
}
.link:nth-child(1) {
  margin-right: 30px;
}

/* Header */

/* Main */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  background: white;
  padding: 20px;
  border-radius: 20px;
  max-width: calc(80% - 20px);
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.number_title {
  font-size: 16px;
  font-weight: 500;
}

.title {
  font-size: clamp(12px, 2vw, 24px);
  text-align: center;
  font-weight: 600;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
}

.input {
  text-align: center;
  margin-top: 10px;
  height: 40px;
}
.input:nth-child(1) {
  margin-right: 8px;
}

.input_bottom {
  overflow: auto;
  min-width: 270px;
  min-height: 50px;
  max-width: 332px;
  max-height: 340px;
  margin-top: 10px;
}

.left_block {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background: #2e69ae;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.button:hover {
  background: #1e4879;
  transition: all 0.2s linear;
}

.text_block {
  margin: 0 auto;
  margin-top: 10px;

  border-radius: 12px;
  width: 338px;
  height: 198px;
  box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.block_title {
  font-weight: 600;
  font-size: clamp(12px, 2vw, 24px);
  line-height: 150%;
  color: #2e69ae;
}

.block_print {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 150%;
  color: rgba(46, 105, 174, 0.71);
}

.block_info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.block {
  display: flex;
  align-items: center;
}

.block_titles {
  font-weight: 400;
  font-size: 10px;
  line-height: 185%;
  color: rgba(62, 62, 62, 0.7);
  width: 10px;
}
/* Main */

/* Footer */

.container_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  background-color: rgb(0, 0, 0);
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer_title {
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer_print {
  font-size: 25px;
  font-weight: 500;
  margin-left: 5px;
  color: white;
}

.link {
  font-size: 25px;
}
.link:nth-child(1) {
  margin-right: 30px;
}
/* Footer */
